<div class="max-w-3xl m-6">
    <h1 data-testid="@TestIds.Hero.Name" class="text-5xl font-bold mb-8">
        @HeroText.Name
    </h1>
    <p data-testid="@TestIds.Hero.Slogan" class="text-xl text-gray-600 mb-8">
        @HeroText.Slogan
    </p>
    <p data-testid="@TestIds.Hero.Intro" class="text-lg mb-8">
        @HeroText.Introduction
    </p>
</div>
